#bntocultar {
    display: none;
}

#boton {
    width: 80px;
    height: 40px;
    margin-right: 200px;
    border-radius: 25px;
    background-color: rgb(97, 91, 91);
    color: white;
    font-size: 15px;
    border: none;
    cursor: pointer;

    
}

#boton:hover {
    background-color: white;
    transition: ease-in .3s; 
}


body {
    background-color: #f8f8f8;
    width: 100%;
    min-height: 1100px;
    
}


h3 {

    font-size: 10vw;
    
}

#container {
    background-color: #f8f8f8;
    position: relative;
    width: 80px;
    height: 40px;
    box-shadow: inset 4px 4px 6px #cecece,
                 inset -4px -4px 6px #fff;
    margin: 0px auto;
    margin-top: 30px;
    border-radius: 25px;
    border: 1px solid;
    cursor: pointer;
    margin-top: -40px;
    
}

.toggle {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    transform: scale(.7);
    background-color: linear-gradient(145deg, #d8d8d8, #ffff);
    border-radius: 25px;
    box-shadow:  3px 3px 8px #c4c4c4,
                -3px -3px 8px #fff


}

.imagenes {
    display: flex;
    justify-content: center;
    align-items: center;

}

.imagenes img {
    width: 1000px;
}
#container.active .toggle {
    left: 40px;
}

body.active {
    background-color: black;
}

.automovil {
    width: 100vw;
    height: 100vh;
}

div.automovil h3 {
    color: #444;
    font-size: 24px;
    font-weight: 300;
    margin-top: 30px;
    text-align: center;

}
.seleccionar_color{
    width: 100vw;
    height: 50px;
    background-color: rgb(242, 255, 168);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.seleccionar_color div {
    background-color: rgb(6, 147, 207);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 30px;
    cursor: pointer;
    
}

.seleccionar_color #rojo {
    background-color: rgb(207, 6, 23);
    
}

.seleccionar_color #azul {
    background-color: rgb(6, 174, 207);
}

.seleccionar_color #negro {
    background: #333;
}

.caja {
    border: solid 3px black;
    border-radius: 15px;
    width: 30%;
    text-align: center;
    margin-left: 35%;
    color: rgb(97, 91, 91);
}

.caja.azul {
    border:  #058df5 5px solid;
    background-color: #23164a;
    color: white;
    transition: ease-in .3s;
}

#btn {
    width: 80px;
    height: 45px;
    border-radius: 25px;
    margin-top: 0%;
    margin-bottom: 50px;
    border: none;
    background-color:#444;
    color: #fff;
}

#btn:hover {
    background-color: #23164a;
    color: aqua;
    transition: ease-in .3s;
}